USE [master]
GO
/****** Object:  Database [example_db]    Script Date: 21-Nov-22 7:38:43 PM ******/
CREATE DATABASE [example_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'example_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\example_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'example_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\example_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [example_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [example_db]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 21-Nov-22 7:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[Id] [int] NOT NULL,
	[firstName] [nvarchar](100) NULL,
	[lastName] [nvarchar](100) NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[teamId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 21-Nov-22 7:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[ProjectId] [int] NOT NULL,
	[teamId] [int] NULL,
	[projectName] [nvarchar](100) NULL,
	[description] [nvarchar](100) NULL,
	[teamsWOrkingOnProject] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teams]    Script Date: 21-Nov-22 7:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teams](
	[teamId] [int] NOT NULL,
	[teamName] [nvarchar](100) NULL,
	[projectInProgress] [nvarchar](100) NULL,
	[developers] [nvarchar](100) NULL,
	[teamLeader] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[teamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacations]    Script Date: 21-Nov-22 7:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacations](
	[vacationId] [int] NOT NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[dateOfRequest] [datetime] NULL,
	[halfDayVacation] [bit] NULL,
	[approved] [bit] NULL,
	[Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[vacationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers.teamId] FOREIGN KEY([teamId])
REFERENCES [dbo].[teams] ([teamId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers.teamId]
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD  CONSTRAINT [FK_projects.teamId] FOREIGN KEY([teamId])
REFERENCES [dbo].[teams] ([teamId])
GO
ALTER TABLE [dbo].[projects] CHECK CONSTRAINT [FK_projects.teamId]
GO
ALTER TABLE [dbo].[vacations]  WITH CHECK ADD  CONSTRAINT [FK_vacations.Id] FOREIGN KEY([Id])
REFERENCES [dbo].[customers] ([Id])
GO
ALTER TABLE [dbo].[vacations] CHECK CONSTRAINT [FK_vacations.Id]
GO
USE [master]
GO
